<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Сеть семейных клубов - Малина.">
		
	<title>Малина-сеть семейных клубов.Отзывы.</title>
	<!-- Bootstrap -->
		
	<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/vendor/bootstrap/css/mycss.css" rel="stylesheet">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">  

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1 hidden-xs"></div>
		<div class="col-xs-2 hidden-xs"><img src="img/logo_mal.jpg" id="logo-col"></div>
		<div class="hidden-xs col-sm-5 col-md-5 col-lg-5"><a href="/"><img src="img/logo_txt.png" id="logo-col"></a>
		</div>
		<div class="visible-xs col-xs-2"></div>
		<div class="visible-xs col-xs-8" id="logo-mob"><a href="/"><img id="logo-mob-img" src="img/logo_txt.png" id="logo-col"></a></div>
		<div class="visible-xs col-xs-2"></div>
		<div class="col-xs-offset-7 hidden-xs" id="blockquote"><h4 style="color:#666666">Познавайте мир вместе с нами!<br> Сеть семейных клубов - Малина</h4></div>
	</div>
	<div class="row" id="addr">
		<div class="col-xs-12 col-md-5 col-lg-5 col-sm-5"><a href="/moskovskiy" id="msk"><h5>г.Московский, 			3 микрорайон, д.11:<br>+7(499)583-03-67</h5></a>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-2 hidden-xs">
			<a href="https://www.instagram.com/clubmalina/" id="socset1" target="_blank" title="Instagram"><img src="img/instagr2.png" class="socset"></a>
			<a href="https://www.facebook.com/clubmalina/" id="socset2" target="_blank" title="Facebook"><img src="img/facb2.png" class="socset"></a>
		</div>
		<div class="col-xs-12 col-md-5 col-lg-5 col-sm-5"><a href="/kuzminki" id="kuz"><h5>г.Москва,ул. Васильцовский стан, д.11:<br>+7(499)649-38-51</h5></a>
		</div>
	</div>
			
			
	<!-- тут меню-->
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-pills nav-justified">
				<li class="hidden-xs"><a href="/">Главная</a></li>
	  			<li class="hidden-xs"><a href="/otziv">Отзывы</a></li>
	  			<li class="hidden-xs"><a href="/news">Новости</a></li>
	  			<li class="hidden-xs"><a href="/foto">Фото</a></li>
	  			<li class="hidden-xs"><a href="/contacti">Контакты</a></li>
	  			<li class="hidden-xs"><a href="/pravila">Правила</a></li>
	  			<li class="hidden-xs"><a href="/schedule">Расписание</a></li>
			</ul>
		</div>
	</div>
	<!--END OF MENU -->
	
	<!--тут мобильное меню -->
	<div class="hidden-md hidden-lg">
	    <i class="fa fa-bars nav-toggle">
	    	<div id="btn-wrap">
		    	<div class="bth-wrap">
		    		<span class="butn-me" id="top-band"></span>
		    		<span class="butn-me"></span>
		    		<span class="butn-me"></span>
		    	</div>
	    	</div>
	    </i>
	      <nav class="main-navigation">
	        <span class="nav-toggle">Закрыть</span>
	        <ul>
	          	<li><a href="/">Главная</a></li>
	      		<li><a href="/otziv">Отзывы</a></li>
	      		<li><a href="/news">Новости</a></li>
	      		<li><a href="/foto">Фото</a></li>
	      		<li><a href="/contacti">Контакты</a></li>
	      		<li><a href="/pravila">Правила</a></li>
	      		<li><a href="/schedule">Расписание</a></li>
	        </ul>
	      </nav>
  	</div>
	<!--конец мобильного меню-->
	<!-- отзывы-->
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4"><h1 style="text-align: center; ">Отзывы</h1></div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6"><h4 style="text-align: center; ">Ирина и София, Богдан</h4></div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10"><p>
				Детский клуб "Малина" стал для моих детей вторым домом. Первую дочку отдала сюда еще в 2009г. И не ошиблась! Грамотные и чуткие педагоги, отличная и качественная программа развития детей от 1 года до 3 лет сделала огромный вклад в образовательный процесс моего ребенка. Спустя некоторое время привела сюда и сына (предварительно побывав в 3-х детских развивающих, в том числе именитых по всей РФ, центрах, поняла, что лучше Малины не найти). Занятия организованы грамотно. Педагог вовремя переключает внимание малышей. Одна деятельность быстро сменяется другой. Дети не устают. Всегда выходят довольные и с багажом новых знаний. Спасибо огромное за ваш труд и вклад в наших детей!!!</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6"><h4 style="text-align: center; ">Маргарита и Антон</h4></div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10"><p>
				Мы посещаем Малину более 4 лет, при этом уже младшие дети стали сюда ходить. Хотим отметить высокий профессионализм, внимательное отношение к детям и чуткость преподавателей. Малина клуб уже практически стал нам вторым домом, так комфортно и уютно нам здесь проводить время.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6"><h4 style="text-align: center; ">Валерия и Вероника</h4></div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10"><p>
			Ходим в Детский Клуб "Малина" с годика, сейчас дочке 5,5 лет. За этот период посещали различные занятия, остановились на развивающих занятиях у Киры и рисовании и лепке у Светланы Васильевны. Очень довольна этими педагогами: дочка ходит на занятия с удовольствием и я вижу результаты: приносит домой потрясающие картины и поделки. Рада, что рядом с домом есть такой замечательный детский центр! Большое спасибо педагогам</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6"><h4 style="text-align: center; ">Анна Б. и Варя</h4></div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10"><p>
			Мы ходим на занятия в "Малину" уже 3 года. Посещали разные занятия, и всеми остались довольны, замечательно подобраны педагоги и интересные занятия. Сейчас занимаемся у Киры и Светланы Васильевны. Безумно довольны! Огромное спасибо!</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6"><h4 style="text-align: center; ">Светлана и Лиза</h4></div>
		<div class="col-xs-3"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10"><p>
			Занимаемся в Малине четвертый год, привели уже второго ребенка! За этот период посещали разные занятия - остались довольны всеми педагогами! Отдельная благодарность Кире за программу раннего развития и Татьяне Викторовне за наши успехи в хореографии, благодаря ее стараниям наша дочь стала многократным лауреатом Международных и Всероссийских конкурсов хореографического искусства! И конечно, благодарим администратора Анжелу за прекрасную организацию работы клуба и заботу о наших детях.</p>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<!--кнопка оставить отзыв-->
	<!-- <div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<a href="#" type="button" class="btn btn-success btn-lg">Оставить отзыв</a>
		</div>
		<div class="col-xs-3"></div>
	</div> -->
	<div class="row">
		<div class="col-xs-12"><img id="vint" src="img/vintage_elements2.png"></div>
	</div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/bootstrap/js/myjs.js"></script>

</body>
  <footer>
  <div class="container-fluid" id="foo-wrap"></div>
  	<div class="row">
  		<div class="col-xs-5" id="foo1">© 2007-2016, Сеть семейных клубов «Малина».</div>
  		<div class="col-xs-offset-5" id="foo2">© Kinasu</div>
  	</div>
  </footer>
    
</html>
