<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Сеть семейных клубов - Малина.">
		
	<title>Малина-сеть семейных клубов.</title>
	<!-- Bootstrap -->
		
	<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/vendor/bootstrap/css/mycss.css" rel="stylesheet">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon"> 

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1 hidden-xs"></div>
		<div class="col-xs-2 hidden-xs"><img src="img/logo_mal.jpg" id="logo-col"></div>
		<div class="hidden-xs col-sm-5 col-md-5 col-lg-5"><a href="/"><img src="img/logo_txt.png" id="logo-col"></a>
		</div>
		<div class="visible-xs col-xs-2"></div>
		<div class="visible-xs col-xs-8" id="logo-mob"><a href="/"><img id="logo-mob-img" src="img/logo_txt.png" id="logo-col"></a></div>
		<div class="visible-xs col-xs-2"></div>
		<div class="col-xs-offset-7 hidden-xs" id="blockquote"><h4 style="color:#666666">Познавайте мир вместе с нами!<br> Сеть семейных клубов - Малина</h4></div>
	</div>
	<div class="row" id="addr">
		<div class="col-xs-12 col-md-5 col-lg-5 col-sm-5"><a href="/moskovskiy" id="msk"><h5>г.Московский, 			3 микрорайон, д.11:<br>+7(499)583-03-67</h5></a>
		</div>
		<div class="col-md-2 col-lg-2 col-sm-2 hidden-xs">
			<a href="https://www.instagram.com/clubmalina/" id="socset1" target="_blank" title="Instagram"><img src="img/instagr2.png" class="socset"></a>
			<a href="https://www.facebook.com/clubmalina/" id="socset2" target="_blank" title="Facebook"><img src="img/facb2.png" class="socset"></a>
		</div>
		<div class="col-xs-12 col-md-5 col-lg-5 col-sm-5"><a href="/kuzminki" id="kuz"><h5>г.Москва,ул. Васильцовский стан, д.11:<br>+7(499)649-38-51</h5></a>
		</div>
	</div>
			
			
<!-- тут меню-->
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-pills nav-justified">
				<li class="hidden-xs"><a href="/">Главная</a></li>
	  			<li class="hidden-xs"><a href="/otziv">Отзывы</a></li>
	  			<li class="hidden-xs"><a href="/news">Новости</a></li>
	  			<li class="hidden-xs"><a href="/foto">Фото</a></li>
	  			<li class="hidden-xs"><a href="/contacti">Контакты</a></li>
	  			<li class="hidden-xs"><a href="/pravila">Правила</a></li>
	  			<li class="hidden-xs"><a href="/schedule">Расписание</a></li>
			</ul>
		</div>
	</div>
	<!--END OF MENU -->
	
	<!--тут мобильное меню -->
	<div class="hidden-md hidden-lg">
	    <i class="fa fa-bars nav-toggle">
	    	<div id="btn-wrap">
		    	<div class="bth-wrap">
		    		<span class="butn-me" id="top-band"></span>
		    		<span class="butn-me"></span>
		    		<span class="butn-me"></span>
		    	</div>
	    	</div>
	    </i>
	      <nav class="main-navigation">
	        <span class="nav-toggle">Закрыть</span>
	        <ul>
	          	<li><a href="/">Главная</a></li>
	      		<li><a href="/otziv">Отзывы</a></li>
	      		<li><a href="/news">Новости</a></li>
	      		<li><a href="/foto">Фото</a></li>
	      		<li><a href="/contacti">Контакты</a></li>
	      		<li><a href="/pravila">Правила</a></li>
	      		<li><a href="/schedule">Расписание</a></li>
	        </ul>
	      </nav>
  	</div>
	<!--конец мобильного меню-->
<div> <h4>Lorem ipsum</h4> <p>dolor sit amet, consectetur adipiscing elit. Quisque dignissim nisl eu sapien elementum, ac lobortis odio luctus. Donec non ultricies orci, non ullamcorper augue. Suspendisse sit amet dictum urna, in pretium neque. Etiam dignissim, erat in eleifend suscipit, lacus nisl ultricies ipsum, in tincidunt ante leo id justo. Nunc fringilla condimentum lectus at eleifend. Maecenas lacinia iaculis erat sed consectetur. Pellentesque massa justo, facilisis vitae euismod vel, euismod non justo. Donec non mi vel lorem lacinia porttitor. Nunc sed hendrerit mauris, sed vehicula libero. Ut euismod ante id justo ultrices, ac congue metus egestas. Nam eros nisl, molestie non mi non, laoreet varius sapien.</p>

<p>Vestibulum fringilla sapien eu nibh viverra, efficitur varius enim efficitur. Phasellus fermentum eros ac dignissim ornare. Nam felis lectus, luctus et blandit in, ultricies vitae lectus. Suspendisse pellentesque massa non arcu facilisis cursus non ut dui. Sed viverra pellentesque sem, quis tincidunt enim commodo venenatis. Nulla facilisi. Sed pulvinar ex id malesuada tristique. Integer lobortis ipsum vel orci posuere, at dictum dui vehicula. Aenean in mi ornare neque faucibus porttitor nec in turpis. Fusce placerat eros sem, vitae luctus arcu varius nec. Aliquam erat volutpat. Nulla egestas a enim et bibendum. Phasellus blandit posuere purus, sit amet lacinia odio commodo in. Aenean consectetur, risus eu posuere malesuada, tortor diam dignissim felis, sed consequat massa nisi nec neque. Nunc ut cursus magna. Cras pellentesque nec purus ullamcorper semper.</p>

<p>Nullam scelerisque ipsum a varius consectetur. Curabitur semper sem at condimentum consectetur. Phasellus feugiat neque sed mattis varius. Curabitur quis augue nulla. Nulla volutpat molestie massa, ut sodales felis pulvinar ut. Sed nec metus quis enim malesuada vulputate. Donec venenatis dolor a ultricies volutpat. In hac habitasse platea dictumst. Duis finibus congue risus, eu sagittis ex porta ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ac viverra ante, ac dignissim sapien.</p>

<p>Aenean vel urna nisi. Curabitur justo lacus, convallis rutrum viverra eu, condimentum ut orci. Vestibulum sed ultrices diam. Etiam vitae dignissim velit, dapibus sagittis massa. Proin commodo, purus a rutrum facilisis, lacus nunc vulputate est, at ultricies lacus arcu elementum dolor. Donec vel arcu tempus felis tristique dictum. Donec lobortis aliquet leo, id blandit felis lobortis a. Sed pharetra mattis nulla, quis aliquet ligula hendrerit sodales. Cras pretium sagittis egestas.</p> </div>

	<div class="row">
		<div class="col-xs-12"><img id="vint" src="img/vintage_elements2.png"></div>
	</div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/bootstrap/js/myjs.js"></script>

</body>
  <footer>
  <div class="container-fluid" id="foo-wrap"></div>
  	<div class="row">
  		<div class="col-xs-5" id="foo1">© 2007-2016, Сеть семейных клубов «Малина».</div>
  		<div class="col-xs-offset-5" id="foo2">© Kinasu</div>
  	</div>
  </footer>
    
</html>
